{% extends 'base.html' %} {% block content %} {% for hotel in hotel_list %}

<div class="card" style="width: 18rem;display: grid; margin-bottom: 2rem;">
  {% load static %}

  <div class="card-body">
    <h5 class="card-title">{{ hotel.name }}</h5>
    <p class="card-text">Location : {{ hotel.location }}</p>
    <a href="{% url 'HotelActivate' pk=hotel.id %}" class="btn btn-primary"
      >Activate Hotel</a
    >
    <a href="{% url 'Hoteldiactiate' pk=hotel.id %}" class="btn btn-warining"
      >diactivate Hotel</a
    >
  </div>
</div>
{% endfor %} {% endblock %}
