{% extends 'base.html' %} {% block content %} {% for hotel in object_list %}
<h1>Hotel # {{ hotel.id }}</h1>
<a href="{% url 'UserRoomList' pk=hotel.id %}">
  <div class="card" style="width: 18rem;display: grid; margin-bottom: 2rem;">
    {% load static %}

    <div class="card-body">
      <h5 class="card-title">{{ hotel.name }}</h5>
      <p class="card-text">location : {{ hotel.location }}</p>
    </div>
  </div>
</a>
{% endfor %} {% endblock %}
