{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Login here :</h1>
    <form method="post" action="">
      {% csrf_token %} <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username" />
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" name="" value="Login" />
    </form>
  </div>
</div>
{% endblock %}
