{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<form method="post" action="{% url 'ReservationForm' room.pk %}">
  {% csrf_token %} {{ form | crispy }}
  <button type="submit" class="btn btn-primary">Reserve</button>
</form>
{% endblock %}
