{% extends 'base.html' %} {% block content %} {% for room in object_list %}

<div class="card" style="width: 18rem;display: grid; margin-bottom: 2rem;">
  {% load static %}
  <img
    class="card-img-top"
    src="{{ MEDIA_URL }}{{ room.image }}"
    alt="Card image cap"
  />

  <div class="card-body">
    <h5 class="card-title">{{ room.hotel.name }}</h5>
    <p class="card-text">price : {{ room.price }}</p>
    <a
      href="{% url 'ReservationForm'  pk=room.id %}"
      type="button"
      class="btn btn-primary"
      >Reserve</a
    >
  </div>
</div>

{% endfor %} {% endblock %}
